/* 게시물 상단 */
.post_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.post_header_item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.avatar {
    width: 36px;
    height: 36px;
    background-color: var(--color-primary);
    border-radius: 100%;
}

.creator {
    font-size: 15px;
    font-weight: 700;
    margin-left: 10px;
}

.date {
    font-size: 14px;
    margin-left: 20px;
}
