/* 게시글 */
.post {
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    color: var(--main-bg-color);
}
.post_title {
    text-align: left;
    font-weight: 700;
    font-size: 24px;
    margin: 16px;
}

.post_mid {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 16px;
    padding-bottom: 20px;
}
.post_mid_l {
    display: flex;
    gap: 12px;
}

.post_creator {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px;
    font-weight: 700;
}
.avatar {
    width: 36px;
    height: 36px;
    background-color: var(--color-primary);
    border-radius: 100%;
}

.creator {
    font-weight: 700;
    font-size: 15px;
}

.creator_img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

.thumbnail_img {
    width: 592px;
    height: 306px;
}

/* 반응형 스타일링 */
@media (max-width: 592px) {
    .post {
        width: 100%; /* 가로 너비를 화면 너비에 맞게 줄임 */
        margin-bottom: 10px; /* 간격 조절 */
    }

    .thumbnail_img {
        width: 100%; /* 가로 너비를 화면 너비에 맞게 줄임 */
        height: auto; /* 높이는 비율에 맞게 조절 */
    }
}
