.posts {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.post_wrapper {
    width: 592px;
}

.post_info {
    margin-top: 20px;
}

.post_info_text {
    font-size: 24px;
}

/* 버튼 */
.go_upload {
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: var(--color-secondary);
    color: white;
    width: 138px;
    height: 39px;
    font-size: 16px;
    border-radius: 16px;
    border: 0;
    padding: 0;
    cursor: pointer;
}
.go_upload:hover {
    background-color: var(--color-active);
}

.btn_wrapper {
    text-align: right;
}

.post_list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* loading */
.loading {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 190%;
}

.spinner {
    position: relative;
    top: 50%;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-top-color: #03114e;
    animation: spin 0.6s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
