:root {
    --input-width: 355px;
    --input-height: 33px;
    --main-width: 592px;
    --main-bg-color: #1b181e;
    --main-text-color: white;
    --color-primary: #5ddee2;
    --color-secondary: #91eef1;
    --color-active: #5ddee2;
    --line-height: 21.15px;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    text-align: center;
    font-family: 'Pretendard-Regular', sans-serif;
}

.page-title {
    margin-top: 20vh;
    margin-bottom: 3vh;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

.helper-text {
    text-align: left;
    color: var(--color-active);
    font-size: 12px;
    width: var(--input-width);
}

.label {
    text-align: left;
    font-weight: 700;
    font-size: 15px;
    margin-top: 8px;
}

.go {
    text-align: center;
    font-size: 14px;
    margin: 10px;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

form {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    justify-content: center;
}

.active {
    background-color: var(--color-active) !important;
}

button {
    cursor: pointer;
}
